
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

a:link,
a:visited {
  text-decoration: none;
}
br.size320 {
  display: none;
}
div.burger {
  display: none;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  color: #4c4c4c;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
span.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  cursor: pointer;
  color: inherit;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Burger*/
.burger-container {
  display: none;
}

.burger-icon {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 16;
}

.burger-icon span {
  display: none;
  width: 30px;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease;
}

.burger-icon.open span:nth-child(1) {
  transform: rotate(90deg) translate(10px, -10px);
}

.burger-icon.open span:nth-child(2) {
  transform: rotate(90deg) translate(0px, 0px);
}

.burger-icon.open span:nth-child(3) {
  transform: rotate(90deg) translate(-10px, 10px);
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  height: 100vh;
  background: #292929;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: 0.3s ease;
  z-index: 15;
}

.mobile-nav.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

/*burger menu styles */
.mobile-nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
  color: #cdcdcd;
  padding-bottom: 40px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
}

.mobile-nav a#fixed {
  cursor: pointer;
  font-size: 32px;
  line-height: 160%;
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
  color: #fff;
  padding-bottom: 2px;
  margin-bottom: 40px;
  font-family: "Arial", sans-serif;
}

a.mobile-navi :active {
  text-decoration: none;
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  height: 3px;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  padding-bottom: 2px;
}

/*Menu*/

header {
  background-color: transparent;
}

div.headerWrapperBox {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
div.navBar {
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.nav {
  margin-top: auto;
  margin-bottom: auto;
  width: 443px;
  height: 27px;
  display: flex;
  justify-content: space-between;
}

ul li {
  list-style-type: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

ul.nav {
  padding: 0px;
  gap: 35px;
  color: #cdcdcd;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(84, 84, 84);
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  margin-bottom: 11px;
}
a.headerLink#fixed1 {
  cursor: pointer;
  font-size: 15px;
  line-height: 160%;
  border-bottom: 3px solid #f1cdb3;
  pointer-events: none;
  color: rgb(84, 84, 84);
  padding-bottom: 4px;
  font-family: "Arial", sans-serif;
}

a.headerLink:link {
  color: rgb(84, 84, 84);
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  width: 114px;
  font-size: 15px;
  line-height: 160%;
  padding-bottom: 2px;
}
a.headerLink:hover {
  text-decoration: none;
  color: rgb(84, 84, 84);
  border-bottom: 3px solid #f1cdb3;
  height: 3px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  padding-bottom: 2px;
}

a.headerLink:visited {
  text-decoration: none;
  color: rgb(84, 84, 84);
  padding-bottom: 2px;
}

/*Logo Link*/
div.logo {
  text-align: center;
  width: 187px;
}
a.logoLink:link {
  text-decoration: none;
}
p.logoP {
  color: rgb(41, 41, 41);
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
}

/*Body*/
main {
  flex: 1 1 auto;
  background-color: #f6f6f6;
}
div.petsContent_Wrapper {
  max-width: 1230px;
  padding: 80px 15px 101px;
  margin: 0 auto;
  text-align: center;
}
h3.pet {
  max-width: 400px;
  text-align: center;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 auto;
  margin-bottom: 60px;
}
div.cardsContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px 40px;
  margin-bottom: 60px;
}
div.card {
  background: #fafafa;
  border-radius: 9px;
  width: 270px;
  height: 435px;
  display: grid;
  transition: 0.3s all ease-in;
}

div.card1 {
  padding-top: 30px;
}
p.pets {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
button.learnMore {
  padding: 15px 42px;
  margin-top: 31px;
  margin-bottom: 30px;
  border: 2px solid #f1cdb3;
  background: #fafafa;
  border-radius: 100px;
  width: 187px;
  height: 52px;
  align-content: center;
  transition: 0.2s all ease-in;
}
div.card:hover .learnMore {
  background: #fddcc4;
  transition: 0.2s all ease-in;
}
div.card:hover {
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  transition: 0.2s all ease-in;
}
p.petsMore {
  font-family: "Georgia", serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

/*Pet pagination*/
div.navigator {
  margin: 0 auto;
  display: flex;
  max-width: 340px;
  justify-content: space-between;
}
button.pagination {
  transition: 0.2s all ease-in;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  position: relative;
  text-align: center;
  line-height: 45px;
  color: #292929;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

button.pagination:hover {
  background-color: #f1cdb3;
  border-color: none;
  transition: 0.2s all ease-in;
}

button.disabled {
  transition: 0.2s all ease-in;
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  z-index: 10;
  position: relative;
  text-align: center;
  line-height: 45px;
  color: #cdcdcd;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

button.disabled:hover {
  cursor: default;
  background-color: transparent;
  border: 2px solid #cdcdcd;
}

button.activePage {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: #f1cdb3;
  cursor: default;
  line-height: 45px;
  color: #292929;
}

/*Footer*/
footer {
  background: url(../assets/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    linear-gradient(0deg, #211f20, #211f20);
}
.footerWrapper {
  max-width: 1230px;
  padding: 38px 15px 0px 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
div.contacts {
  max-width: 280px;
  padding-top: 16px;
}
div.locations {
  margin-left: -6px;
  padding-top: 16px;
  max-width: 302px;
}
h3.footer {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 40px;
}
div.footer_email {
  margin-bottom: 40px;
  background: url(../assets/icon/icon-email.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
div.footer_phone {
  margin-bottom: 40px;
  background: url(../assets/icon/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}
div.footer_adress1 {
  margin-bottom: 32px;
  padding-left: 42px;
  background: url(../assets/icon/icon-marker.svg);
  background-position: 0 50%;
  background-repeat: no-repeat;
}
div.footer_adress2 {
  background: url(../assets/icon/icon-marker.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 5px 0px 5px 42px;
}
.footerLink {
  display: block;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding: 5px 0px 5px 60px;
}
.footerLink_adress {
  display: block;
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

/*Pop up*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 13;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 15;
}

.pop-inner {
  max-width: 351px;
  padding: 50px 20px 88px 29px;
}

.popup-content {
  max-width: 952px;
  max-height: 552px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.petCard-pop {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.close-button {
  position: absolute;
  right: -42px;
  top: -52px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: 26px;
  font-weight: bold;
  transition: 0.2s all ease-in;
  cursor: pointer;
  z-index: 12;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.close-button:hover {
  background-color: #fddcc4;
  color: #555;
}

img.pop-up {
  max-width: 100%;
  max-height: 100%;
}
h3.pop-name {
  padding-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #000000;
}

h4.pop-breed {
  padding-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #000000;
}

p.pop-descr {
  padding-bottom: 40px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}

li.pop-li {
  padding-bottom: 10px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #000000;
}
li.pop-li {
  position: relative;
  padding-left: 10px;
  margin-bottom: 10px;
}
li.pop-li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #f1cdb3;
}

span.pop-span {
  font-weight: 700;
}
body.no-scroll {
  overflow: hidden;
}

