@media screen and (min-width: 320px) and (max-width: 767px) {
  html {
    scroll-behavior: smooth;
  }
  div.startScreen {
    overflow-y: unset;
  }
  * {
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
  html {
    overflow-x: hidden;
  }
  html.no-scroll {
    overflow: hidden;
  }

  header {
    margin: 0;
  }
  div.burger {
    padding: 30px 20px 0 0;
    display: flex;
    align-items: center;
  }
  div.nav {
    display: none;
  }
  div.navBar {
    padding: 0 0 30px 0;
  }
  div.logo {
    margin: 30px 46px 0px 20px;
  }
  div.headerWrapperBox {
    padding: 0;
    width: 100%;
  }
  /*burger*/
  .burger-container {
    display: block;
  }
  .overlay.active {
    display: block;
  }
  .burger-icon {
    margin-top: 30px;
    display: block;
  }
  .burger-icon span {
    display: block;
    height: 2px;
    margin-bottom: 8px;
    background: #000000;
  }

  .mobile-nav.active {
    right: 0;
    display: block;
  }

  .overlay.active {
    display: block;
    opacity: 1;
  }

  /* burger rotation*/
  .burger-icon.open img {
    transform: rotate(90deg) translate(5px, 5px);
  }
  /*logo*/
  div.logo {
    margin: 30px 46px 0px 20px;
  }
  div.headerWrapperBox {
    padding: 0;
    width: 100%;
  }
  /*pets content*/
  div.petsContent_Wrapper {
    margin: 42px 10px 0 10px;
    padding: 0;
    padding-bottom: 43px;
  }
  h3.pet {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 8px;
    margin-bottom: 0;
  }
  div.cardsContent {
    margin: 0;
    margin-top: 42px;
    margin-bottom: 40px;
  }
  div.card1 {
    padding-top: 27px;
  }

  /*footer*/
  div.footerWrapper {
    padding: 0;
    flex-direction: column;
    height: auto;
  }
  h3.footer {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: center;
  }
  div.contacts {
    padding-top: 0;
    margin: 30px 21px 0 21px;
  }
  div.footer_email {
    margin-left: 14px;
  }
  div.footer_phone {
    margin-left: 19px;
  }
  br.sizeSsmall {
    display: none;
  }
  div.locations {
    padding-top: 0;
    margin: 0;
  }
  img.imgFooter {
    width: 260px;
    height: 269px;
    position: absolute;
    margin-top: 540px;
    margin-left: 30px;
  }
  h3.sizesmall {
    margin-left: 18px;
    margin-top: -3px;
  }
  div.footer_adress1 {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 39px;
  }
  a.footerLink_adress {
    letter-spacing: 0.0556em;
  }
  div.footer_adress2 {
    margin-left: 10px;
    margin-top: 0;
  }
  footer {
    height: 809px;
  }
}
/*Pop-up resize*/
.pop-inner {
  padding: 10px;
  width: 75vw;
  height: 341px;
}

.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.petCard-pop {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.close-button {
  position: absolute;
  right: -42px;
  top: -52px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  color: #292929;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  font-size: 26px;
  font-weight: bold;
  transition: 0.2s all ease-in;
  cursor: pointer;
  z-index: 12;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}
img.pop-up {
  display: none;
}
h3.pop-name {
  text-align: center;
}
h4.pop-breed {
  padding-bottom: 20px;
  text-align: center;
}
p.pop-descr {
  text-align: justify;
  padding-bottom: 20px;
}
li.pop-li {
  padding-bottom: 5px;
}
